<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="false">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="log.path" value=".\logs"/>
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--encoder：指定输出日志格式化和字符集-->
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--建议在<root>中引用所有<appender>-->
    <root level="debug">
        <appender-ref ref="console"/>
    </root>


</configuration>

